<link href="~/Content/mainpage.css" rel="stylesheet" />



<nav class="navbar navbar-default navbar-fixed-top navbar-expand-sm" id="navb">
    <img style="margin-top:2px;" src="~/Images/log.png" />

    <ul class="navbar-nav" style="color:white;">
        <li class="nav-item" style="margin-right:20px;">
            <a class="nav-link" href="#">
                About Us
            </a>
        </li>
        <li class="nav-item" style="margin-right:20px;">
            <a class="nav-link" href="#">
                Contacts
            </a>
        </li>
        <li class="nav-item" style="margin-right:20px;">
            <a class="nav-link" href="#">
                Join Us
            </a>
        </li>

        <li class="nav-item" style="margin-right:40px;">
            <a class="nav-link" href="#">
                Login
            </a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="home">
            <div id="know">
                <h3 style="font-size:40px; margin-left:70px;">URBAN INVESTORS</h3>
                <h5 style="font-style:italic;">GROWING THE NEXT GENERATION OF BUSINESS</h5>
                <button class ="kn">Know More</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#2BABF3;">
    <div class="row">
        <div class="col-md-12 text-center mt-2" style="font-size:15px;">
            <footer>
                <p>&copy; 2023 Urban Investors. All Rights Reserved.</p>
            </footer>
        </div>
    </div>
</div>


<script src="~/Scripts/home.js"></script>
